
:root {
  --btnclr: #00aeef;
  --otherclr: #37c3a8;
  --clr: #43b1d2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.2s;
}

html {
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.main-header {
  padding: 1rem 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid var(--clr);
}

.menu-icons {
  display: flex;
  align-items: center;
}

.inner-menu-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

.inner-menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner-menu-icons i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: var(--btnclr);
  color: #fff;
  border-radius: 50%;
  margin-right: 10px;
  font-size: 1.2rem;
}

.inner-menu-content span {

}

.second-menu {
  padding: 1rem 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  margin-right: 1rem;
  padding: 1rem 2rem;
  font-size: 1.1rem;
  color: #000;
}

.navbar a:hover {
  background: var(--btnclr);
  color: #fff;
  border-radius: 10px;
}

.second-menu-icons div {
  margin-left: 1rem;
  font-size: 1.5rem;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
}

.second-menu-icons div:hover {
  background: var(--clr);
  color: #fff;
}

#menu-bar {
  display: none;
}

/* hero section */
.hero-section {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: red;
  background: url("../img/background.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-inner {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-inner-content h2 {
  font-size: 60px;
}

.hero-inner-content h1 {
  font-weight: 400;
  margin-bottom: 48px;
}
/* hero section END */

/* footer */
footer {
  padding: 1rem 5%;
  background-color: grey;
}

.footer-row {
  width: 100%;
  display: flex;
  margin-bottom: 24px;
  border-bottom: 1px solid #fff;
  padding-bottom: 12px;
}

.footer-row-2 {
  display: flex;
  justify-content: space-between;
}

.footer-box-smaller {
  width: 33%;
}

.footer-box-bigger {
  width: calc(100% - 33%);
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.footer-box h5 {
  margin-bottom: 12px;
  font-size: 18px;
}

.footer-box ul li {
  margin-bottom: 6px;
}
/* footer END */


/* media queries */
@media (max-width:1100px){
  #menu-bar {
    display: block;
  }

  .navbar {
    position: fixed;
    left: -100%;
  }

  .navbar a {
    display: block;
  }

  .second-menu-icons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width: 991.98px){
  .main-header {
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }

  #logo {
    margin-bottom: 24px;
  }

  .inner-menu-icons i {
    margin-right: 1px;
  }

  .inner-menu-content span {

  }
}

@media (max-width: 767.98px) {
  .menu-icons {
    flex-direction: column;
    align-items: flex-start;
  }

  .inner-menu-icons {
    margin-bottom: 12px;
  }

  .inner-menu-content {
    margin-left: 12px;
    align-items: flex-start;
  }
}
