
:root {
  --btnclr: #00aeef;
  --otherclr: #37c3a8;
  --clr: #43b1d2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.2s;
}

html {
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

/* Scroll Up Button */
#btnScrollTop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  padding: 10px;
  opacity: 0;
  background-color: var(--btnclr);
  color: #79ffca;
  border-color: var(--btnclr);
  transition: 0.5s;
  cursor: pointer;
  z-index: 99;
}

#btnScrollTop i {
  font-size: 24px;
}

#btnScrollTop.visible {
  opacity: 1;
}

#btnScrollTop:active {
  box-shadow: 0 5px 20px rgba(121, 255, 202, 0.3);
}
/* Scroll Up Button END */

.logo-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-inner h2 {
  color: rgba(0,0,0,0.7);
}

.logo-img {
  width: 40px;
  height: auto;
  margin-right: 12px;
}

.btn-container {
  display: flex;
}

.btn {
  display: block;
  padding: 1rem 2rem;
  background: var(--otherclr);
  border: 2px solid var(--otherclr);
  color: #fff;
  border-radius: 15px;
  font-size: 1.2rem;
  margin-right: 12px;
  transition: 0.4s;
}

.btn-2 {
  display: block;
  padding: 1rem 2rem;
  background: var(--btnclr);
  border: 2px solid var(--btnclr);
  color: #fff;
  border-radius: 15px;
  font-size: 1.2rem;
  transition: 0.4s;
}

.btn:hover,
.btn-2:hover {
  background: #fff;
}

.btn:hover {
  border: 2px solid var(--otherclr);
  color: var(--otherclr);
}

.btn-2:hover {
  background: #fff;
  color: var(--btnclr);
}

.submit-btn {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  color: #fff;
  background: var(--clr);
  cursor: pointer;
  border: 1px solid var(--clr);
  transition: 0.4s;
}

.submit-btn:hover {
  background: #fff;
  color: var(--clr);
}

.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header.borderDown {
  border-bottom: 1px solid var(--btnclr);
}

.main-header {
  padding: 1rem 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid var(--clr);
}

.menu-icons {
  display: flex;
  align-items: center;
}

.main-header.visible-2 {
  display: none;
}

.inner-menu-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

.inner-menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner-menu-icons i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: var(--btnclr);
  color: #fff;
  border-radius: 50%;
  margin-right: 10px;
  font-size: 1.2rem;
}

.inner-menu-content span {

}

.second-menu {
  padding: 1rem 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  margin-right: 1rem;
  padding: 1rem 2rem;
  font-size: 1.1rem;
  color: #000;
}

.navbar a:hover {
  background: var(--btnclr);
  color: #fff;
  border-radius: 10px;
}

.second-menu-icons div {
  margin-left: 1rem;
  font-size: 1.5rem;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
}

.second-menu-icons div:hover {
  background: var(--clr);
  color: #fff;
}

#menu-bar {
  display: none;
}

/* hero section */
.hero-section {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: red;
  background: url("../img/background.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-inner {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-inner-content h2 {
  font-size: 60px;
}

.hero-inner-content h1 {
  font-weight: 400;
  margin-bottom: 48px;
}
/* hero section END */

/* about */
.our-services {
  padding: 5rem 5% 2rem;
  background: var(--btnclr);
}

.our-services h2 {
  color: #fff;
  text-align: center;
  font-size: 40px;
  padding: 1rem 0;
}

.our-services h2 span {
  color: #000;
}

.main-services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.inner-main-services {
  flex: 1 1 280px;
  text-align: center;
  padding: 24px;
}

.inner-main-services i {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #fff;
  border-radius: 50%;
  font-size: 1.2rem;
  margin-bottom: 12px;
}

.inner-main-services h3 {
  margin-bottom: 12px;
  font-size: 24px;
  color: #fff;
}

.inner-main-services p {
  color: #fff;
}
/* about END */

/* why choose */
.why-choose-us {
  padding: 2rem 7%;
}

.why-choose-us h2 {
  font-size: 40px;
  text-align: center;
  color: #000;
  padding: 2rem;
}

.why-choose-us h2 span {
  color: var(--otherclr);
}

.full-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.main-chooseus {
  flex: 1 1 300px;
}

.main-chooseus img {
  width: 100%;
}

.choose-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.choose-img img {
  width: 100px;
}

.choose-img p {
  padding: 0 2rem;
  width: 200px;
}
/* why choose END */

/* gallery */
.our-gallery {
  padding: 5rem 5% 2rem;
  background: var(--otherclr);
}

.our-gallery h2 {
  font-size: 40px;
  text-align: center;
  color: #fff;
  padding: 30px 0px 24px;
}

.our-gallery h2 span {
  color: #000;
}

.main-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.inner-gallery {
  flex: 1 1 300px;
}

/* gallery END */

/* Contact */
.contact-section {
  padding: 5rem 5% 2rem;
}

.contact-section h2 {
  font-size: 40px;
  text-align: center;
  color: #000;
  padding: 2rem;
}

.contact-section h2 span {
  color: var(--otherclr);
}

.contact-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.contact-container-half {
  flex: 1;
}

.contact-form {
  width: 70%;
  padding: 24px;
  margin: 0 auto;
}

.contact-form-row {
  width: 100%;
}

input[type='text'],
input[type='email'],
textarea {
  width: 100%;
  margin-bottom: 12px;
}

textarea {
  resize: none;
  padding: 18px;
  height: 100px;
}

input[type='text'],
input[type='email']{
  padding: 18px;
}

input[type='text']:focus,
input[type='email']:focus,
textarea:focus {
  outline: none;
  border: 2px solid var(--btnclr);
}

.inner-centered {
  margin: 0 auto;
  width: 70%
}

.contact-container-half .inner-centered h4 {
  font-size: 24px;
  color: var(--btnclr);
  margin-bottom: 12px;
}

.contact-container-half .inner-centered ul {
  margin-bottom: 30px;
}

.contact-container-half .inner-centered ul li {
  margin-bottom: 6px;
}
/* Contact END */

/* footer */
footer {
  padding: 2rem 5%;
  background-color: #565759;
}

.location {
  width: 80%;
  margin: auto;
  padding: 80px 0;
}

.location iframe {
  width: 100%;
}

.footer-row {
  width: 100%;
  display: flex;
  margin-bottom: 24px;
  border-bottom: 1px solid #fff;
  padding-bottom: 18px;
}

.footer-row-2 {
  display: flex;
  justify-content: space-between;
}

.footer-box-smaller {
  width: 33%;
}

.footer-box-smaller a h4 {
  color: var(--btnclr);
}

.footer-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer-logo-img {
  width: 40px;
  height: auto;
  margin-right: 6px;
}

.footer-box-bigger {
  width: calc(100% - 33%);
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.footer-box h5 {
  margin-bottom: 12px;
  font-size: 18px;
  color: var(--btnclr);
}

.footer-box ul li {
  margin-bottom: 6px;
  transition: 0.4s;
}

.footer-box ul li a {
  color: #fff;
}

.footer-box ul li:hover a {
  color: var(--btnclr);
}

.footer-box-smaller p,
.footer-row-2 p {
  color: #fff;
}
/* footer END */


/* media queries */
@media (max-width:1100px){
  #menu-bar {
    display: block;
  }

  .navbar {
    position: fixed;
    top: 75px;
    left: -100%;
    display: block;
    padding: 100px 50px;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: #fff;
    z-index: 999;
    transition: 0.6s;
  }

  .navbar.active {
    left: 0%;
  }

  .navbar a {
    display: block;
  }

  .second-menu-icons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width: 991.98px){
  .main-header {
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }

  #logo {
    margin-bottom: 24px;
  }

  .inner-menu-icons i {
    margin-right: 1px;
  }

  .inner-menu-content span {

  }

  .contact-container {
    flex-direction: column;
    margin-bottom: 12px;
  }

  .location {
    width: 100%;
    margin: auto;
    padding: 80px 0;
  }

  .contact-container-half {
    flex: initial;
    width: 100%;
  }

  .contact-form {
    width: 100%;
    margin-bottom: 24px;
  }

  .inner-centered {
    width: 90%;
  }

  .footer-row {
    flex-direction: column;
  }

  .footer-box-smaller {
    width: 100%;
    margin-bottom: 24px;
  }

  .footer-box-bigger {
    width: 100%;
    justify-content: space-between;
  }
}

@media (max-width: 767.98px) {
  .menu-icons {
    flex-direction: column;
    align-items: flex-start;
  }

  .inner-menu-icons {
    margin-bottom: 12px;
  }

  .inner-menu-content {
    margin-left: 12px;
    align-items: flex-start;
  }
}

@media (max-width: 575.98px) {
  .footer-box-bigger {
    flex-direction: column;
  }

  .footer-box {
    margin-bottom: 18px;
  }

  .footer-row-2 {
    flex-direction: column;
  }

  .footer-row-2 p {
    margin-bottom: 6px;
  }
}
